<integrations>
    <integration name="loyaltylion">
        <email>support@loyaltylion.com</email>
        <endpoint_url>http://app.loyaltylion.dev/magento2/callback</endpoint_url>
        <identity_link_url>http://app.loyaltylion.dev/magento2/link</identity_link_url>
    </integration>
</integrations>