<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
	<event name="customer_register_success">
		<observer name="customer_register_success_loyaltylion_observer" instance="Loyaltylion\Core\Model\Observer\RegisterObserver"/>
	</event>
	<event name="sales_order_place_after">
		<observer name="sale_order_place_after_loyaltylion_observer" instance="Loyaltylion\Core\Model\Observer\OrderObserver"/>
	</event>
</config>
