<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
  <system>
    <section id="loyaltylion_core" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
      <label>LoyaltyLion</label>
      <tab>customer</tab>
      <resource>Loyaltylion_Core::loyaltylion_core</resource>
      <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>General</label>
        <field id="token" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Token</label>
        </field>
        <field id="secret" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Secret</label>
        </field>
      </group>
    </section>
  </system>
</config>
